body {
  font-family: Arial, sans-serif;
  background-color: blueviolet;
}
.todo-container {
  max-width: 400px;
  height: 20vw;
  margin: 0 auto;
  padding: 20px;
  border: 4px solid black;

  background-color: aquamarine;
}

.inputdiv {
  display: flex;
  justify-content: space-between;
}

#taskInput {
  flex: 1;
  outline: none;
  border-radius: 6px;
  height: 20px;
}
.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.todo-item input[type="checkbox"] {
  margin-right: 10px;
}
.taskList {
  background-color: blue;
  color: aquamarine;
  border: 0 px black;
  outline: none;
  border-radius: 6px;
}

.delete-btn {
  margin-left: auto;
  cursor: pointer;
  font-size: 20px;
  background-color: brown;
  width: 30px;
  border-radius: 10px;
}
