body {
  font-family: Arial, sans-serif;
  background-color: darkcyan;
}
.todo-container {
  max-width: 400px;
  height: 7vw;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid black;
  background-color: rgb(134, 169, 157);
  box-shadow: 2px 6px black;
}

.inputdiv {
  display: flex;
  justify-content: space-between;
}

#taskInput {
  flex: 1;
  outline: none;
  border-radius: 6px;
  height: 30px;
}
.todo-item {
  display: flex;
  align-items: center;
  margin-top: 2vw;
}
.todo-item input[type="checkbox"] {
  margin-right: 30px;
  font-size: 20px;
  height: 20px;
}
.taskList {
  background-color: blue;
  color: aquamarine;
  border: 0 px rgb(140, 15, 15);
  outline: none;
  border-radius: 6px;
}

.delete-btn {
  margin-left: auto;
  cursor: pointer;
  font-size: 40px;
  margin-right: 60px;
  background-color: rgba(255, 0, 0, 0.4);
  width: 42px;
  height: 42px;
  border-radius: 5px;
  text-align: center;
}
label {
  font-family: Arial, sans-serif;
  font-size: 1.5vw;
  font-weight: 700;
  color: black;
}
input {
  font-size: 1.5vw;
}
