body {
  font-family: Arial, sans-serif;
  background-color: blueviolet;
}
.todo-container {
  max-width: 400px;
  height: 20vw;
  margin: 0 auto;
  padding: 20px;
  border: 4px solid black;
  border-radius: 5px;
  background-color: aquamarine;
}

.inputdiv {
  display: flex;
}

#taskInput {
  flex: 1;
}
.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.todo-item input[type="checkbox"] {
  margin-right: 10px;
}
.taskList {
  background-color: blue;
  color: aquamarine;
  border: 0 px black;
}
